title {
  color: white;
}

html{
  font-family: "Comic Sans MS", cursive, sans-serif;
  height: 100%;

}

li {
  float: right;
}

li a{
  display: block;
  color: white;

  padding: 14px 16px;
  text-align: center;
  text-decoration: none;


}

li a:hover{
  background-color:  green;
}


p{
  color: black;
}

header{
  text-align: center;
  background-color: black;


}
