title {
  color: white;
}

html{
  font-family: "Comic Sans MS", cursive, sans-serif;
  height: 100%;

}

li {
  float: right;
}

li a{
  display: block;
  color: white;

  padding: 14px 16px;
  text-align: center;
  text-decoration: none;


}

li a:hover{
  background-color:  #FDD475;
}


p{
  color: black;
}

header{
  text-align: center;
  background-color: black;


}

h1 {
  color: white;
  float: left;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;

}

body{
  color: black;
  background-color: #FDD475;
}

h2 a:link, h2 a:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

h2 a:hover, h2 a:active {
  background-color: green;
  color: white;
}
